@font-face {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 800;
    src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
    font-display: swap;
}

html {
  height: 100%;
}

body {
    font-family: "Rubik", sans-serif;
    font-size: 18px;
    line-height: 30px;

    color: #000000;
    background-color: #ffffff;

    margin: 0;
    min-height: 100%;

    display: flex;
    flex-direction: column;

}

.title {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    color: #000000;
}

.title-small {
    font-family: "Rubik", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #444444;
}

.text {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #444444;
}

.text-small {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
}

.colored-btn {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

/* .visually-hidden {
    display: none;
} */

.page-header {
    width: 1160px;
    margin: 0 auto;
}

/* Navigation */

.logo-black {
    margin-left: 60px;
}

.navigation-menu {
    background-color: #FFE17F;
}

.user-nav-bar {
    list-style: none;
    margin: 0 auto;
    padding: 51px 60px 45px;

    display: flex;
    align-items: center;
}

.user-nav-bar-link {
    color: #000000;;
    text-decoration: none;
}

.main-nav {
    padding: 0 60px 148px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-nav ul {
    width: 471px;

    list-style: none;
    padding: 0;
    margin: 0;

    display: flex;
    justify-content: space-between;
}

.main-nav-item {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #000000;
    text-decoration: none;
}

.search-field::placeholder {
    color: #000000;
    opacity: 0.3;
}

.search-btn {
    color: #000000;
}

.main-container {
    flex-grow: 1;
}

/* Slider */

.slider-wrapper {
    width: 1160px;
    margin: 0 auto;
}

.slider-wrapper ul {
    margin: 0;
}

.slider-item-wrapper {
    display: none;
}

.slide-counter {
    font-family: "Rubik", sans-serif;
    font-size: 180px;
    font-weight: 700;
    line-height: 30px;
}

.product-param {
    font-size: 36px;
}

.product-param-descr {
    line-height: 30px;
    color: #444444;
}

.slider-show {
    display: flex;
}

/* Categories */

.catalogue-categories-wrapper {
    width: 1160px;
    margin: 0 auto;
}

.catalogue-categories-wrapper ul {
    list-style: none;
    padding: 0;
    margin: 0;

    display: flex;
    justify-content: space-between;
}

.catalogue-categories-wrapper li {
    width: 160px;
}

.catalogue-categories::before {
    content:"";
    width: 160px;
    height: 160px;
    display: block;
    background-color: #FFE17F;
    background-size: 160px;
    background-repeat: no-repeat;
}

.virtual-reality::before {
    background-image: url("../images/categories/category-1.svg");
}

.monopods-for-selfie::before {
    background-image: url("../images/categories/category-2.svg");
}

.action-cameras::before {
    background-image: url("../images/categories/category-3.svg");
}

.fitness-bracelet::before {
    background-image: url("../images/categories/category-4.svg");
}

.smart-watch::before {
    background-image: url("../images/categories/category-5.svg");
}

.quadcopter::before {
    background-image: url("../images/categories/category-6.svg");
}

.catalogue-categories-wrapper p {
    font-weight: 800;
    line-height: 24px;
    letter-spacing: -0.02em;
}

/* Rare item delivery */

.rare-item-delivery-wrapper {
    background: #F0F0F0;

    width: 1160px;
    margin: 0 auto;
}

.rare-item-delivery-wrapper span {
    font-weight: 800;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

/* tabs */

.tabs-wrapper {
    margin: 0 auto;
    padding: 0 calc((100% - 1160px) / 2);

    display: flex;
}

.tabs-wrapper ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.delivery-wrapper button:active {
    background-color: #000000;
    color: #FFE17F;
}

.tabs-content {
    background-repeat: no-repeat;
    background-position: right top;
    padding-right: 250px;

    display: none;
}

.delivery-tab {
    background-image: url(../images/delivery.svg);
}

.warranty-tab {
    background-image: url(../images/warranty.svg);
}

.credit-tab {
    background-image: url(../images/credit.svg);
}

.tabs-content-show {
    display: flex;
    flex-direction: column;
}

/* About and Contacts */

.about-wrapper {
    padding-right: 108px;
}

.about-contacts-wrapper {
    width: 1160px;
    margin: 0 auto;

    display: flex;
}

.way-of-delivery {
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -0.02em;
}

/* Newsletter */

.newsletter-wrapper {
    margin: 0 auto;
    background: #F0F0F0;
    padding: 0 calc((100% - 1160px) / 2);

    display: flex;
    flex-direction: column;
}

.newsletter-subscribtion {
    display: flex;
    justify-content: space-between;
}

.subscribe-field {
    display: flex;
    justify-content: space-between;
}

.newsletter-input::placeholder {
    opacity: 0.5;
}

/* Catalog */

.breadcrubms-and-title {
    width: 1160px;
    margin: 0 auto;
}

.breadcrumbs-wrapper {
    list-style: none;
}

.breadcrumbs {
    text-decoration: none;
}

.filter-and-sort {
    font-family: "Raleway", sans-serif;;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.2em;
    text-transform: uppercase;

    background: #F0F0F0;

    margin: 0 auto;
    padding: 0 calc((100% - 1160px) / 2);

    display: flex;
}

.filter {
    padding: 0 60px;
}

.filter-parameter {
    font-family: "Rubik", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.02em;
    color: #000000;
    text-transform: none;
}

.color-options {
    text-transform: none;
    letter-spacing: 0;
}

.bluetooth-presence {
    text-transform: none;
    letter-spacing: 0;
}

.sort {
    width: 840px;
    display: flex;
    flex-direction: column;
}

.sort-option {
    color: #000000;
}

.product-list {
    padding: 0;
}

.product-name {
    font-family: "Rubik", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.02em;
    text-transform: none;
}

.product-price {
    line-height: 21px;
    letter-spacing: 0;
    text-transform: none;
}

.download-more-btn {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.page-back-forward {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #000000;
    text-decoration: none;
}

.page-back-forward.disabled {
    color: #444444;
    opacity: 0.3;
}

.page-number {
    color: #444444;
    opacity: 0.3;
    text-decoration: none;
}

.page-number-active {
    opacity: 0.6;
}

/* footer */

.page-footer {
    background-color: #444444;
    color: #ffffff;
    padding: 0 calc((100% - 1160px) / 2);

    display: flex;
    justify-content: space-between;
}

.address-and-logo-footer {
    width: 239px;
    padding: 62px 0 77px;
}

.logo-yellow {
    padding-bottom: 35px;
}

.nav-footer {
    width: 444px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-nav-footer-wrapper {
    display: flex;
    list-style: none;
    padding: 137px 0 62px;
    margin: 0;
}

.nav-footer li {
    padding-right: 35px;
}

.nav-footer li:last-child {
    padding-right: 0;
}

.social-links-footer {
    padding-bottom: 61px;
}

.address-footer {
    color: #ffffff;
    margin: 0;
}

.main-nav-footer {
    color: #ffffff;
}

.phone-and-html-academy-footer {
    width: 175px;
    padding-top: 140px;

    display: flex;
    flex-direction: column;
    align-items: flex-end;

}

.phone-number-footer {
    color: #ffffff;
    padding-bottom: 63px;
}
