@font-face {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 800;
    src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
    font-display: swap;
}

html {
  height: 100%;
}

body {
    font-family: "Rubik", sans-serif;
    font-size: 18px;
    line-height: 30px;

    color: #000000;
    background-color: #ffffff;

    margin: 0;
    min-height: 100%;

    display: flex;
    flex-direction: column;

}

.title {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    color: #000000;

    margin: 0;
}

.title-small {
    font-family: "Rubik", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #444444;
}

.text {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #444444;
}

.text-small {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
}

.colored-btn {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.2em;
    text-transform: uppercase;

    background-color: transparent;
    border: none;

    cursor: pointer;

    padding: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.page-header {
    width: 1160px;
    margin: 0 auto;
    position: relative;
}

/* Navigation */

.logo-black {
    margin-left: 60px;
    margin-top: 20px;
    position: absolute;
}

.navigation-menu {
    background-color: #FFE17F;
    margin-top: 40px;
}

.search-panel {
    width: 517px;
    padding-right: 26px;
    display: flex;
}

.search-field {
    width: 358px;
}

.search-field::placeholder {
    opacity: 0.3;
}

.search-btn {
    width: 160px;
    color: #000000;
}

.user-nav {
    list-style-type: none;
    padding: 40px 60px 30px;

    display: flex;
    align-items: center;
}

.user-nav-ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

    flex: 1;

    display: flex;
    justify-content: flex-end;
}

.login-user-nav {
    margin-right: auto;
}

.compare-user-nav {
    margin-right: 61px;
}

.name-user-nav {
    margin-right: 28px;
}

.logout-user-nav {
    margin-right: auto;
    opacity: 0.3;
}

.user-nav-link {
    color: #000000;;
    text-decoration: none;

    display: block;
}

.main-nav {
    padding: 0 60px 148px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-nav-catalog {
    padding: 0 60px 36px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-nav-catalog ul {
    width: 471px;

    list-style-type: none;
    padding: 0;
    margin: 0;

    display: flex;
    justify-content: space-between;
}


.main-nav ul {
    width: 471px;

    list-style-type: none;
    padding: 0;
    margin: 0;

    display: flex;
    justify-content: space-between;
}

.main-nav-item {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #000000;
    text-decoration: none;
}

.main-container {
    flex-grow: 1;
}

/* Slider */

.slider-wrapper {
    width: 1160px;
    margin: 0 auto;
}

.slider-wrapper ul {
    margin: 0;
    padding: 0;
}

.slider-item-wrapper {
    display: none;
}

.slide-counter {
    font-family: "Rubik", sans-serif;
    font-size: 180px;
    font-weight: 700;
    line-height: 135px;

    color:#ffffff;

    padding-right: 50px;

    position: absolute;
    top: -122px;
    right: 0;
}

.slider-pic-block {
    width: 560px;
    margin-right: 40px;
    margin-top: -150px;

    position: relative;
}

.slide-info {
    margin-top: -30px;
    z-index: 2;
}

.slide-info h2 {
    margin-bottom: 30px;
}

.slide-info p {
    margin-bottom: 50px;
}

.slide-info button {
    margin-bottom: 50px;
}

.product-param {
    font-size: 36px;
    padding-bottom: 12px;
}

.product-param-descr {
    line-height: 30px;
    color: #444444;
    padding-right: 20px;
}

.slider-prev {
    width: 20px;
    height: 60px;

    position: absolute;
    left: 0;
    top: 210px;
}

.slider-next {
    width: 20px;
    height: 60px;

    position: absolute;
    right: 0;
    top: 210px;
}

.slider-show {
    display: flex;
    position: relative;
}

.slider-pagination {
    width: 1160px;
    margin: 26px auto 70px;
    padding: 0;

    display: flex;
    justify-content: center;
}

/* Categories */

.catalogue-categories-wrapper {
    width: 1160px;
    margin: 0 auto 70px;
}

.catalogue-categories-wrapper ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

    display: flex;
    justify-content: space-between;
}

.catalogue-categories-wrapper li {
    width: 160px;
}

.catalogue-categories {
    font-weight: 800;
    line-height: 24px;
    letter-spacing: -0.02em;

    margin: 0;
}

.catalogue-categories::before {
    content:"";
    width: 160px;
    height: 160px;
    display: block;
    background-color: #FFE17F;
    background-size: 160px;
    background-repeat: no-repeat;

    margin-bottom: 32px;
}

.virtual-reality::before {
    background-image: url("../images/categories/category-1.svg");
}

.monopods-for-selfie::before {
    background-image: url("../images/categories/category-2.svg");
}

.action-cameras::before {
    background-image: url("../images/categories/category-3.svg");
}

.fitness-bracelet::before {
    background-image: url("../images/categories/category-4.svg");
}

.smart-watch::before {
    background-image: url("../images/categories/category-5.svg");
}

.quadcopter::before {
    background-image: url("../images/categories/category-6.svg");
}

/* Rare item delivery */

.rare-item-delivery-wrapper {
    background: #F0F0F0;
    height: 100px;

    width: 1160px;
    margin: 0 auto 70px;

    position: relative;
}

.rare-item-delivery-wrapper div {
    font-weight: 800;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.2em;
    text-transform: uppercase;

    padding: 40px 125px;

    text-align: center;
}

.rare-item-delivery-wrapper div::before {
    content:"";
    width: 125px;
    height: 100px;
    display: block;
    background-color: #FFE17F;
    background-repeat: no-repeat;

    position: absolute;
    top: 0;
    left: 0;
}

.rare-item-delivery-wrapper button {
    width: 125px;
    height: 100px;

    position: absolute;
    top: 0;
    right: 0;
}

/* tabs */

.tabs-wrapper {
    margin: 0 auto 70px;
    padding: 0 calc((100% - 1160px) / 2);
    display: flex;
}

.tabs-buttons-wrapper {
    width: 280px;
    border-right: solid 7px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.tabs-buttons-wrapper li {
    margin-bottom: 35px;
}

.tabs-buttons-wrapper .colored-btn {
    width: 160px;
}

.tabs-buttons-wrapper .black-btn {
    background-color: #000000;
    color: #FFE17F;
}

.tabs-buttons-wrapper li:first-child {
    margin-top: 64px;
    background-color: #000000;
}

.tabs-buttons-wrapper li:last-child {
    margin-bottom: 0;
}

.tabs-content {
    flex: 1;
}

.tabs-item-content {
    background-repeat: no-repeat;
    background-position: right 73px;
    padding-right: 250px;

    display: none;
}

.tabs-item-content p {
    width: 452px;
    margin: 0;
}

.delivery-tab {
    background-image: url(../images/delivery.svg);
}

.warranty-tab {
    background-image: url(../images/warranty.svg);
}

.credit-tab {
    background-image: url(../images/credit.svg);
}

.tabs-content {
    margin: 0;
}

.tabs-content-show {
    display: flex;
    flex-direction: column;

    padding: 73px 63px 73px 116px;
}

.tabs-content-show h2 {
    margin-bottom: 34px;
}

/* Sections About and Contacts */

.about-contacts-wrapper {
    width: 1160px;
    margin: 0 auto 70px;

    display: flex;
}

/* Section About */

.about-wrapper {
    margin-right: 108px;

    position: relative;
}

.about-wrapper h2 {
    margin: 47px 0;
}

.about-wrapper h2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 84px;
    height: 7px;

    background: black;
}

.about-wrapper p {
    padding: 0 0 30px;
    margin: 0;
}

.way-of-delivery {
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -0.02em;

    list-style-position: inside;

    padding-bottom: 19px;
}

.way-of-delivery::marker {
    color: #FFC700;
}

.way-of-delivery:last-child {
    padding-bottom: 0;
}

.about-wrapper ul {
    padding: 0;
    margin: 0 0 30px;
}

/* Section Contacts */

.contacts-wrapper {
    position: relative;
}

.contacts-wrapper h2 {
    margin: 47px 0;
}

.contacts-wrapper h2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 84px;
    height: 7px;

    background: black;
}

.contacts-wrapper p {
    margin: 0 0 30px;
}

.contacts-wrapper h3 {
    margin: 0 0 15px;
}

.contacts-location {
    margin-bottom: 30px;
}

.contacts-location p {
    margin: 0;
}

.contacts-working-hours {
    margin-bottom: 30px;
}

.contacts-working-hours ul {
    list-style-type: none;
    padding: 0;
}


/* Newsletter */

.newsletter-wrapper {
    margin: 0 auto;
    background: #F0F0F0;
    padding: 64px calc((100% - 1160px) / 2) 56px;

    display: flex;
    flex-direction: column;
}

.newsletter-subscribtion {
    display: flex;
    justify-content: space-between;

    margin-bottom: 144px;
}

.newsletter-subscribtion h2 {
    margin-right: 252px;
}

.newsletter-subscribtion p {
    margin: 10px 0;
}

.subscribe-field {
    height: 57px;

    display: flex;
    justify-content: space-between;
}

.subscribe-field form {
    display: flex;
}

.subscribe-field input {
    width: 510px;

    padding-left: 16px;
}

.subscribe-field button {
    width: 253px;
}

.newsletter-input::placeholder {
    opacity: 0.5;
}

.subscribe-field span {
    padding: 13.5px 0;
}

/* Catalog */

.breadcrubms-and-title {
    width: 1160px;
    margin: 0 auto;
    padding: 35px 0 35px 60px;
    box-sizing: border-box;
}

.breadcrubms-and-title h2 {
    margin-bottom: 16px;
}

.breadcrumbs-wrapper {
    list-style-type: none;

    margin: 0;
    padding: 0;

    display: flex;
}

.breadcrumbs {
    text-decoration: none;
    padding-right: 16px;
}

.filter-and-sort {
    font-family: "Raleway", sans-serif;;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.2em;
    text-transform: uppercase;

    background: #F0F0F0;

    padding: 0 calc((100% - 1160px) / 2);

    display: flex;
}

/* filter-block */

.filter {
    margin: 0 60px;
    padding-top: 25px;
}

.filter-title {
    margin-bottom: 60px;
}

.filter-parameter {
    font-family: "Rubik", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.02em;
    color: #000000;
    text-transform: none;
}

.price-parameter-wrapper {
    margin-bottom: 35px;
    padding-top: 12px;

    border-top: solid #000000;
}

.price-parameter-wrapper input {
    margin: 20px 0 0;
}

.color-parameter-wrapper {
    border: none;

    margin: 0;
    padding: 0;
}

.color-parameter-wrapper legend {
    border-top: solid;
    width: 100%;
    padding: 12px 0 0;
}

.color-options {
    text-transform: none;
    letter-spacing: 0;

    list-style-type: none;

    margin-top: 20px;
    margin-bottom: 35px;
    padding: 0;
}

.color-options li {
    margin-bottom: 17px;
}

.color-options li:last-child {
    margin-bottom: 17px;
}

.bluetooth-parameter-wrapper {
    border: none;
    margin: 0;
    padding: 0;
}

.bluetooth-parameter-wrapper legend {
    border-top: solid;
    width: 100%;
    padding: 12px 0 0;
}

.bluetooth-presence {
    text-transform: none;
    letter-spacing: 0;

    margin-bottom: 35px;
}

.bluetooth-yes-wrapper {
    margin: 20px 0;
}

/* Sort block */

.sort {
    width: 840px;
    display: flex;
    flex-direction: column;
}

.sort-option {
    color: #000000;
}

.sort-top-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 25px 40px;
}

/* Products */

.products-wrapper {
    background-color: white;
    padding: 70px 40px 78px;

    flex-wrap: wrap;
}

.product-list {
    padding: 0;
}

.product-name {
    font-family: "Rubik", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.02em;
    text-transform: none;
}

.product-price {
    line-height: 21px;
    letter-spacing: 0;
    text-transform: none;
}

.download-more-btn {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.2em;
    text-transform: uppercase;

    background-color: white;

    width: 100%;

    padding: 18px 0;
    margin-bottom: 44px;
}

.pagination-wrapper {
    background-color: #EBEBEB;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pagination-wrapper ol {
    list-style-type: none;
    padding: 0;
    display: flex;
}

.page-back-forward {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #000000;
    text-decoration: none;
    width: 128px;
    text-align: center;
}

.page-back-forward.disabled {
    color: #444444;
    opacity: 0.3;
}

.page-number {
    color: #444444;
    opacity: 0.3;
    text-decoration: none;
    display: block;
    width: 40px;
    line-height: 40px;
    text-align: center;
}

.page-number-active {
    opacity: 0.6;
}

/* footer */

.page-footer {
    background-color: #444444;
    color: #ffffff;
    padding: 0 calc((100% - 1160px) / 2);

    display: flex;
    justify-content: space-between;
}

.address-and-logo-footer {
    width: 239px;
    padding: 62px 0 77px;

    position: relative;
}

.logo-yellow {
    padding-bottom: 35px;
}

.nav-footer {
    width: 444px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-nav-footer-wrapper {
    display: flex;
    list-style-type: none;
    padding: 137px 0 62px;
    margin: 0;
}

.nav-footer li {
    padding-right: 35px;
}

.nav-footer li:last-child {
    padding-right: 0;
}

.social-links-footer {
    list-style-type: none;

    padding-left: 0;
    padding-bottom: 61px;

    display: flex;
    flex-wrap: wrap;
}

.address-footer {
    color: #ffffff;
    margin: 0;
}

.address-footer::after {
    content: "";
    position: absolute;
    bottom: 77px;
    left: 0;
    width: 80px;
    height: 7px;

    background: #FFC700;
}

.main-nav-footer {
    color: #ffffff;
}

.phone-and-html-academy-footer {
    width: 175px;
    padding-top: 140px;

    display: flex;
    flex-direction: column;
    align-items: flex-end;

}

.phone-number-footer {
    color: #ffffff;
    padding-bottom: 63px;
}
